
.navText{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    color: white;
}
.nav{
    background-color: darkred;
    height: 40px;
    display: flex;
    align-items: center;
}
.navOneLeft{
    justify-content: space-around;
    display: flex;
    width: 80%;
}
.navOneRight{
    width: 20%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.orfLogoDiv{
    background-color: rgb(183, 48, 48);
    display: flex;
    align-items: center;
    justify-content: left;
}
.articMax{
    position: relative;
    justify-content: center;
}
.article{
    margin: auto;
    width: 80%;
    background-color: whitesmoke;
    height:fit-content;
    position: relative;
    top: -100px;
}
.articleImage{
    position: relative;
}

.navTwoLeft{
    justify-content: space-around;
    display: flex;
    width: 90%;
}
.navTwoRight{
    width: 10%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
header1{
    font-size: 30px;
    padding-left: 5%;
    color: white;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
}
h2{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 20px;
    color: lightgrey;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
}
h1{
    padding-left: 2%;
    font-size: 30px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
}
.articleText{
    padding-left: 2%;
}